* {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-display: swap;
}

.tiptap {
  min-height: 256px;
  padding: 12px;
  ul {
    li {
      @apply list-disc;
    }
  }

  ol {
    li {
      @apply list-decimal;
    }
  }

  li {
    @apply pl-3;
    @apply ml-6;
  }

  blockquote {
    @apply pl-3;
    @apply ml-3;
    @apply border-l-4 border-neutral-200;
    @apply text-neutral-500;
  }

  h1 {
    @apply text-3xl mb-3;
  }

  h2 {
    @apply text-2xl mb-3;
  }

  h3 {
    @apply text-xl mb-2;
  }

  p {
    @apply mb-2;
  }

  a {
    @apply underline;
  }
}
